In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset=pd.read_csv('adult.csv')

In [4]:
dataset.head()

,Age,work class,fnlwgt,Education,education-num,martial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
work class        32561 non-null object
fnlwgt            32561 non-null int64
Education         32561 non-null object
education-num     32561 non-null int64
martial-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
dataset.describe()

,Age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
categorical_features=[features for features in dataset.columns if dataset[features].dtype=='O']

In [8]:
categorical_features

['work class',
 'Education',
 'martial-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'Salary']

In [9]:
for feature in categorical_features:
    labels_ordered=dataset.groupby([feature])['capital-gain'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    dataset[feature]=dataset[feature].map(labels_ordered)

In [10]:
dataset

,Age,work class,fnlwgt,Education,education-num,martial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,3,77516,12,13,0,6,3,3,1,2174,0,40,32,0
1,50,7,83311,12,13,6,13,5,3,1,0,0,13,32,0
2,38,6,215646,7,9,5,2,3,3,1,0,0,40,32,0
3,53,6,234721,2,7,6,2,5,0,1,0,0,40,32,0
4,28,6,338409,12,13,6,14,4,0,0,0,0,40,18,0
5,37,6,284582,13,14,6,13,4,3,0,0,0,40,32,0
6,49,6,160187,5,5,4,1,3,0,0,0,0,16,20,0
7,52,7,209642,7,9,6,13,5,3,1,0,0,45,32,1
8,31,6,45781,13,14,0,14,3,3,0,14084,0,50,32,1
9,42,6,159449,12,13,6,13,5,3,1,5178,0,40,32,1
10,37,6,280464,8,10,6,13,5,0,1,0,0,80,32,1
11,30,3,141297,12,13,6,14,5,4,1,0,0,40,41,1
12,23,6,122272,12,13,0,6,0,3,0,0,0,30,32,0
13,32,6,205019,9,12,0,12,3,0,1,0,0,50,32,0
14,40,6,121772,10,11,6,9,5,4,1,0,0,40,36,1
15,34,6,245487,3,4,6,5,5,1,1,0,0,45,15,0
16,25,7,176756,7,9,0,7,0,3,1,0,0,35,32,0
17,32,6,186824,7,9,0,4,2,3,1,0,0,40,32,0
18,38,6,28887,2,7,6,12,5,3,1,0,0,50,32,0
19,43,7,292175,13,14,5,13,2,3,0,0,0,45,32,1
20,40,6,193524,14,16,6,14,5,3,1,0,0,60,32,1
21,54,6,302146,7,9,2,1,2,0,0,0,0,20,32,0
22,35,4,76845,5,5,6,7,5,0,1,0,0,40,32,0
23,43,6,117037,2,7,6,5,5,3,1,0,2042,40,32,0
24,59,6,109015,7,9,5,10,2,3,0,0,0,40,32,0
25,56,5,216851,12,13,6,10,5,3,1,0,0,40,32,1
26,19,6,168294,7,9,0,9,0,3,1,0,0,40,32,0
27,54,2,180211,8,10,6,8,5,4,1,0,0,60,37,1
28,39,6,367260,7,9,5,13,3,3,1,0,0,80,32,0
29,49,6,193366,7,9,6,9,5,3,1,0,0,40,32,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,2,33811,12,13,0,8,3,4,0,0,0,99,32,0
32532,34,6,204461,14,16,6,14,5,3,1,0,0,60,32,1
32533,54,6,337992,12,13,6,13,5,4,1,0,0,50,40,1
32534,37,6,179137,8,10,5,6,2,3,0,0,0,39,32,0
32535,22,6,325033,4,8,0,11,0,0,1,0,0,35,32,0
32536,34,6,160216,12,13,0,13,3,3,0,0,0,55,32,1
32537,30,6,345898,7,9,0,9,3,0,1,0,0,46,32,0
32538,38,6,139180,12,13,5,14,2,0,0,15020,0,45,32,1
32539,71,2,287372,14,16,6,8,5,3,1,0,0,10,32,1
32540,45,3,252208,7,9,2,6,0,3,0,0,0,40,32,0
32541,41,2,202822,7,9,2,8,3,0,0,0,0,32,32,0
32542,72,2,129912,7,9,6,8,5,3,1,0,0,25,32,0
32543,45,5,119199,9,12,5,14,2,3,0,0,0,48,32,0
32544,31,6,199655,13,14,5,1,3,2,0,0,0,30,32,0
32545,39,5,111499,9,12,6,6,4,3,0,0,0,20,32,1
32546,37,6,198216,9,12,5,10,3,3,0,0,0,40,32,0
32547,43,6,260761,7,9,6,4,5,3,1,0,0,40,15,0
32548,65,7,99359,15,15,0,14,3,3,1,1086,0,60,32,0
32549,43,3,255835,8,10,5,6,1,3,0,0,0,40,32,0
32550,43,7,27242,8,10,6,9,5,3,1,0,0,50,32,0
32551,32,6,34066,6,6,6,2,5,1,1,0,0,40,32,0
32552,43,6,84661,10,11,6,12,5,3,1,0,0,45,32,0
32553,32,6,116138,13,14,0,10,3,4,1,0,0,11,39,0
32554,53,6,321865,13,14,6,13,5,3,1,0,0,40,32,1
32555,22,6,310152,8,10,0,11,3,3,1,0,0,40,32,0
32556,27,6,257302,9,12,6,10,4,3,0,0,0,38,32,0
32557,40,6,154374,7,9,6,4,5,3,1,0,0,40,32,1
32558,58,6,151910,7,9,3,6,2,3,0,0,0,40,32,0
32559,22,6,201490,7,9,0,6,0,3,1,0,0,20,32,0
32560,52,8,287927,7,9,6,13,4,3,0,15024,0,40,32,1

In [11]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [12]:
x

,Age,work class,fnlwgt,Education,education-num,martial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,3,77516,12,13,0,6,3,3,1,2174,0,40,32
1,50,7,83311,12,13,6,13,5,3,1,0,0,13,32
2,38,6,215646,7,9,5,2,3,3,1,0,0,40,32
3,53,6,234721,2,7,6,2,5,0,1,0,0,40,32
4,28,6,338409,12,13,6,14,4,0,0,0,0,40,18
5,37,6,284582,13,14,6,13,4,3,0,0,0,40,32
6,49,6,160187,5,5,4,1,3,0,0,0,0,16,20
7,52,7,209642,7,9,6,13,5,3,1,0,0,45,32
8,31,6,45781,13,14,0,14,3,3,0,14084,0,50,32
9,42,6,159449,12,13,6,13,5,3,1,5178,0,40,32
10,37,6,280464,8,10,6,13,5,0,1,0,0,80,32
11,30,3,141297,12,13,6,14,5,4,1,0,0,40,41
12,23,6,122272,12,13,0,6,0,3,0,0,0,30,32
13,32,6,205019,9,12,0,12,3,0,1,0,0,50,32
14,40,6,121772,10,11,6,9,5,4,1,0,0,40,36
15,34,6,245487,3,4,6,5,5,1,1,0,0,45,15
16,25,7,176756,7,9,0,7,0,3,1,0,0,35,32
17,32,6,186824,7,9,0,4,2,3,1,0,0,40,32
18,38,6,28887,2,7,6,12,5,3,1,0,0,50,32
19,43,7,292175,13,14,5,13,2,3,0,0,0,45,32
20,40,6,193524,14,16,6,14,5,3,1,0,0,60,32
21,54,6,302146,7,9,2,1,2,0,0,0,0,20,32
22,35,4,76845,5,5,6,7,5,0,1,0,0,40,32
23,43,6,117037,2,7,6,5,5,3,1,0,2042,40,32
24,59,6,109015,7,9,5,10,2,3,0,0,0,40,32
25,56,5,216851,12,13,6,10,5,3,1,0,0,40,32
26,19,6,168294,7,9,0,9,0,3,1,0,0,40,32
27,54,2,180211,8,10,6,8,5,4,1,0,0,60,37
28,39,6,367260,7,9,5,13,3,3,1,0,0,80,32
29,49,6,193366,7,9,6,9,5,3,1,0,0,40,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,2,33811,12,13,0,8,3,4,0,0,0,99,32
32532,34,6,204461,14,16,6,14,5,3,1,0,0,60,32
32533,54,6,337992,12,13,6,13,5,4,1,0,0,50,40
32534,37,6,179137,8,10,5,6,2,3,0,0,0,39,32
32535,22,6,325033,4,8,0,11,0,0,1,0,0,35,32
32536,34,6,160216,12,13,0,13,3,3,0,0,0,55,32
32537,30,6,345898,7,9,0,9,3,0,1,0,0,46,32
32538,38,6,139180,12,13,5,14,2,0,0,15020,0,45,32
32539,71,2,287372,14,16,6,8,5,3,1,0,0,10,32
32540,45,3,252208,7,9,2,6,0,3,0,0,0,40,32
32541,41,2,202822,7,9,2,8,3,0,0,0,0,32,32
32542,72,2,129912,7,9,6,8,5,3,1,0,0,25,32
32543,45,5,119199,9,12,5,14,2,3,0,0,0,48,32
32544,31,6,199655,13,14,5,1,3,2,0,0,0,30,32
32545,39,5,111499,9,12,6,6,4,3,0,0,0,20,32
32546,37,6,198216,9,12,5,10,3,3,0,0,0,40,32
32547,43,6,260761,7,9,6,4,5,3,1,0,0,40,15
32548,65,7,99359,15,15,0,14,3,3,1,1086,0,60,32
32549,43,3,255835,8,10,5,6,1,3,0,0,0,40,32
32550,43,7,27242,8,10,6,9,5,3,1,0,0,50,32
32551,32,6,34066,6,6,6,2,5,1,1,0,0,40,32
32552,43,6,84661,10,11,6,12,5,3,1,0,0,45,32
32553,32,6,116138,13,14,0,10,3,4,1,0,0,11,39
32554,53,6,321865,13,14,6,13,5,3,1,0,0,40,32
32555,22,6,310152,8,10,0,11,3,3,1,0,0,40,32
32556,27,6,257302,9,12,6,10,4,3,0,0,0,38,32
32557,40,6,154374,7,9,6,4,5,3,1,0,0,40,32
32558,58,6,151910,7,9,3,6,2,3,0,0,0,40,32
32559,22,6,201490,7,9,0,6,0,3,1,0,0,20,32
32560,52,8,287927,7,9,6,13,4,3,0,15024,0,40,32

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [14]:
X_train

,Age,work class,fnlwgt,Education,education-num,martial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
15282,36,6,174308,2,7,5,5,3,3,1,0,0,40,32
24870,35,6,198202,7,9,0,13,3,3,0,0,0,54,32
18822,38,6,52963,12,13,0,6,3,3,0,0,0,50,32
26404,50,6,138270,7,9,6,12,4,0,0,0,0,40,32
7842,68,7,116903,10,11,6,14,5,3,1,0,2149,40,32
4890,51,7,149220,8,10,6,7,5,3,1,0,0,75,32
3243,25,6,206600,5,5,0,4,1,3,1,0,0,48,15
17470,19,2,37085,8,10,0,8,0,3,0,0,0,30,32
14211,34,7,33442,10,11,0,1,1,3,0,0,0,40,32
22453,24,6,379418,8,10,0,6,3,3,0,0,0,40,32
631,49,5,120451,6,6,2,1,2,0,0,0,0,40,32
29051,20,6,122971,8,10,0,12,0,3,1,0,0,35,32
21478,57,6,548256,4,8,6,6,5,0,1,0,0,40,32
26565,29,7,169662,7,9,6,9,5,3,1,0,0,40,32
25140,31,3,86143,7,9,0,11,1,4,1,0,0,40,32
15497,61,6,423297,14,16,6,14,5,3,1,0,0,40,32
14689,72,6,298070,10,11,2,1,2,3,0,6723,0,25,32
18726,20,6,215495,8,10,0,6,0,3,0,0,0,40,15
28105,49,6,247892,8,10,6,9,5,0,1,0,0,30,32
6965,32,6,187560,15,15,6,14,5,3,1,3908,0,40,32
4343,33,5,43959,13,14,6,14,5,3,1,7688,0,50,32
24308,22,2,210802,8,10,0,8,3,0,0,0,0,35,32
11380,24,7,102942,8,10,0,1,3,3,0,0,0,50,32
26087,32,6,167990,7,9,6,13,5,3,1,0,0,40,14
5679,76,2,173542,12,13,6,8,5,3,1,0,0,10,32
13019,49,3,154493,7,9,5,13,2,3,0,0,0,44,32
24049,32,6,53277,13,14,6,13,5,3,1,0,0,60,32
32119,46,6,165138,8,10,6,5,5,3,1,0,0,45,32
25586,33,6,176992,8,10,6,9,5,3,1,0,0,40,32
26959,32,3,513416,13,14,0,14,3,3,1,0,0,10,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,41,6,152292,12,13,6,14,5,3,1,0,0,50,32
27469,19,6,220101,8,10,0,6,3,3,0,0,0,40,32
16921,27,7,140863,5,5,6,9,5,3,1,0,0,40,32
26277,44,7,127482,7,9,6,9,5,3,1,7298,0,50,28
2897,64,6,148606,6,6,2,1,3,3,0,0,0,35,32
24152,21,6,163870,6,6,6,1,5,3,1,3908,0,40,32
18606,20,6,278391,8,10,0,6,0,3,1,0,0,25,10
10327,48,7,328606,15,15,5,14,2,3,1,14084,0,63,32
18983,24,6,36058,12,13,0,12,3,3,1,0,0,50,32
32230,47,8,102308,15,15,6,14,5,3,1,0,2415,45,32
17089,21,6,155818,7,9,0,1,0,3,0,0,0,20,32
14650,37,7,112497,13,14,6,13,5,3,1,0,0,50,32
19852,45,6,167523,7,9,6,5,5,3,1,0,2179,45,32
6744,34,7,24961,7,9,6,7,5,3,1,0,0,80,32
15832,60,3,234854,14,16,6,14,5,3,1,0,1902,40,32
15430,24,6,211968,8,10,0,12,3,3,0,0,0,24,32
14935,23,3,61743,1,3,0,5,3,3,1,0,0,35,32
14116,30,6,36340,7,9,0,6,2,3,0,0,0,24,32
22258,17,6,153035,6,6,0,12,0,3,0,0,0,20,32
20757,17,2,151141,6,6,0,8,0,3,1,0,0,30,32
24275,26,6,159732,7,9,3,5,3,3,1,0,0,40,32
9225,28,5,175262,9,12,6,11,5,3,1,0,2002,40,28
32103,34,2,330301,3,4,2,8,2,0,0,0,0,40,32
30403,56,6,91905,7,9,6,12,4,3,0,0,0,4,32
21243,65,2,404601,7,9,6,8,5,3,1,2414,0,30,32
13123,43,5,33331,13,14,6,13,5,3,1,0,0,40,32
19648,44,6,98466,6,6,0,7,2,3,1,0,0,35,32
9845,23,6,45317,8,10,2,12,0,3,0,0,0,40,32
10799,45,5,215862,14,16,6,13,5,3,1,7688,0,45,32
2732,25,6,186925,8,10,0,1,3,3,1,2597,0,48,32

In [15]:
#implementating Naive Bayes
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [17]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,classifier.predict(X_test))

0.8036235221863964

In [19]:
#implementing K-NN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,classifier.predict(X_test))

0.7710732381391064

In [34]:
#implementing Logistic Regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\nitin\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=0)

In [21]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,classifier.predict(X_test))

0.8046982957162598

In [23]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,classifier.predict(X_test))

0.8502994011976048

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,model.predict(X_test))

0.7931828650391525